/* Common css Start */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

ul,
ol,
li {
  list-style: none;
}
.container {
  max-width: 1604px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: inline-block;
}

.dm {
  font-family: "DM Sans", sans-serif;
}
.pop {
  font-family: "Poppins", sans-serif;
}

.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-36 {
  font-size: 36px;
}
.font-48 {
  font-size: 48px;
}
.font-64 {
  font-size: 64px;
}
.font-88 {
  font-size: 88px;
}
.font-96 {
  font-size: 96px;
}

.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

/* Common css End */

/*===============================================
                Navbar Part Start
 ==============================================*/
nav .nav {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
}
nav .nav .nav_items {
  padding-left: 544px;
}
nav .nav .nav_items ul {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
nav .nav .nav_items ul li {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #767676;
}
nav .nav .nav_items ul li:hover {
  font-weight: 700;
  color: #262626;
}
nav .nav .nav_items ul li:first-child {
  padding-left: 0;
}
nav .nav .nav_items ul li:last-child {
  padding-right: 0;
}
.tools {
  background: #f5f5f3;
}
.tools .search {
  display: flex;
  /* column-gap: 30px; */
  justify-content: space-between;
}
.tools .search .item1 {
  padding: 40px 0;
  display: flex;
  align-items: center;
  width: 11%;
  box-sizing: border-box;
}
.tools .search .item1 img {
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
}

.tools .search .item1 h6 {
  padding-left: 11px;
  font-size: 14px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #262626;
}
.tools .item2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 33%;
}
.product_inside .item2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 33%;
  border: 1px solid #dfdfdf;
}
.tools .item2 .icon {
  position: absolute;
  top: 21px;
  right: 15px;
}
.product_inside .item2 .icon {
  position: absolute;
  top: 12px;
  right: 9px;
}
.item2 input {
  width: 601px;
  padding: 20px 28px;
  padding-right: 68px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}
.item2 input::placeholder {
  font-size: 18px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.tools .search .item3 {
  width: 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.tools .search .item3 i:last-child {
  margin-left: 25px;
}
/*===============================================
                Navbar Part End
 ==============================================*/
/*===============================================
                banner Part start
 ==============================================*/
.product_inside {
  margin-top: 81px;
  margin-bottom: 139px;
}
.product_inside .container .heading {
  margin-bottom: 50px;
}

.product_inside .container .heading p:first-child {
  font-size: 200px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.product_inside .container p {
  width: 40%;
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.product_inside a {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 200px;
  border: 1px solid #000;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.product_inside a:hover {
  color: #fff;
  background: #000;
}

/*========================================s=======
                New Arrivals Part End
 ==============================================*/

/*===============================================
                footer Part start
 ==============================================*/
footer {
  background: #f5f5f3;
}

footer .left_footer {
  width: 75%;
}
footer .left_footer_up {
  width: 80%;
  display: flex;
  column-gap: 142px;
}
footer .left_footer_up .item {
  margin-top: 55px;
}
footer .left_footer_up .item h4 {
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #262626;
  margin-bottom: 14px;
}
footer .left_footer_up .item ul li {
  font-size: 14px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #6d6d6d;
  margin: 5px 0;
}
footer .left_footer_up .item p {
  font-size: 16px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  color: #262626;
}
footer .left_footer_up .item p:last-child {
  font-size: 14px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #6d6d6d;
  margin-top: 18px;
}
footer .left_footer_up .item p:first-child {
  margin-bottom: 5px;
}
footer .left_footer_down {
  display: flex;
  column-gap: 26px;
}
footer .right_footer {
  width: 20%;
}
footer .right_footer img {
  width: 25%;
  margin-top: 59px;
}
footer .down_footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-top: 65px;
}
ul li:hover {
  cursor: pointer;
}
/*===============================================
                footer Part End
 ==============================================*/
