@media (min-width: 320px) and (max-width: 769px) {
  nav .nav {
    display: block;
    /* flex-direction: row; */
    padding: 32px 0;
  }
  .container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  nav .nav .nav_items {
    margin-top: 15px;
    padding-left: 0px;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
  }
  nav .nav .nav_items ul {
    flex-direction: column;
    padding: 0px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav .nav .nav_items ul li {
    padding: 0;
  }
  nav .logo {
    width: 100%;
  }
  nav .nav label {
    position: absolute;
    top: 28px;
    right: 10px;
    display: block;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  .nav input:checked + .nav_items {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .tools {
    padding: 7px 0;
  }
  .tools .search .item1 {
    padding: 0;
    width: 10%;
  }
  .tools .search .item1 img {
    padding: 16px 0;
    transform: scale(0.7);
  }

  .tools .search .item1 h6 {
    display: none;
  }
  .tools .search .item2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
  }
  .tools .search .item2 input {
    width: 100%;
    padding: 7px 10px;
    padding-right: 29px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    position: relative;
  }
  .tools .search .item2 .icon {
    position: absolute;
    top: 9px;
    right: 5px;
    transform: scale(0.8);
  }

  .tools .search .item3 {
    width: 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 0px;
    transform: scale(0.7);
    cursor: pointer;
    margin-left: 42px;
  }

  .tools .search .item3 i:last-child {
    margin-left: 16px;
  }

  .banner {
    background: none;
    background-size: cover;
    padding: 30px 5px;
    height: auto;
  }
  .banner .content {
    display: flex;
    column-gap: 32px;
  }
  .banner .slider {
    margin-top: 40px;
    display: flex;
    column-gap: 10px;
  }
  .banner .slider p {
    font-size: 14px;
    font-weight: 400;
  }
  .banner .slide_main {
    width: 2px;
    height: 100px;
    background: #76767624;
  }
  .banner .slider1 {
    width: 2px;
    height: 25px;
    background: #262626;
  }
  .offer h2 {
    margin-bottom: 18px;
    font-size: 30px;
  }
  .offer p span {
    font-size: 12px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
  }
  .offer p span:nth-child(2) {
    font-size: 30px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }
  .offer a {
    margin-top: 32px;
    background: #262626;
    color: #fff;
    padding: 10px 26px;
    font-size: 12px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
  }
  .policy {
    margin-bottom: 27px;
  }
  .policy .flex {
    column-gap: 0px;
    justify-content: space-between;
  }
  .policy .flex .item {
    margin: 15px 0;
    column-gap: 7px;
    align-items: center;
    width: 30%;
  }
  .policy .flex .item:last-child {
    justify-content: flex-end;
  }
  .policy .item h5 {
    font-size: 12px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #000;
  }
  .policy .item p {
    font-size: 12px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #6d6d6d;
  }
  .policy .item span:first-child {
    margin-right: 2px;
    font-size: 12px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: #6d6d6d;
  }
  .sale {
    margin-bottom: 10px;
  }
  .sale .flex {
    display: block;
    width: 100%;
  }
  .sale .flex .left {
    width: 100%;
    margin-bottom: 36px;
  }
  .sale .left .offer {
    padding: 74px 60px 47px 48px;
  }
  .sale .offer h2 {
    margin-bottom: 5px;
    font-size: 27px;
  }
  .sale .offer p span {
    font-size: 14px;
  }
  .sale .offer p span:nth-child(2) {
    font-size: 30px;
  }
  .sale .flex .right {
    width: 100%;
  }
  .sale .right .part1 .offer {
    padding: 74px 60px 47px 48px;
  }
  .sale .right .part2 .offer {
    padding: 74px 60px 47px 48px;
  }
  .sale .offer a {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 21px;
    font-size: 12px;
  }
  .new {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .new .flex {
    row-gap: 20px;
    flex-direction: column;
  }
  .new .product {
    width: 100%;
    margin-bottom: 25px;
    /* text-align: center; */
  }
  .new .product img {
    width: 100%;
  }
  .new .container h2 {
    margin-bottom: 17px;
    font-size: 29px;
  }
  .new .container .arrow_left_right {
    display: none;
  }
  .new .product h5 {
    padding: 7px 30px;
    font-size: 12px;
    left: 21px;
  }
  .new .product span:first-child {
    font-size: 15px;
  }
  .new .product p {
    font-size: 14px;
    margin-top: 9px;
  }
  .new .container .wishlist .list:nth-child(2) {
    margin: 5px 0px;
  }
  .new .container .wishlist .list {
    row-gap: 5px;
    flex-direction: row;
  }
  .new .container .wishlist .list p {
    font-size: 10px;
  }
  .new .container .wishlist .list i {
    transform: scale(0.8);
  }
  /* .new .container .wishlist {
    column-gap: 10px;
    display: flex;
  } */
  .new .product:hover .wishlist {
    bottom: 62px;
    right: 0;
    position: absolute;
    padding-top: 12px;
    padding-bottom: 12px;
    column-gap: 10px;
    display: block;
    background: #fff;
  }
  .new .product span {
    font-size: 13px;
  }
  .bestsellers {
    margin-bottom: 30px;
  }

  .bestsellers .container h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .bestsellers .container .flex {
    flex-direction: column;
    row-gap: 20px;
  }
  .bestsellers .product {
    width: 100%;
  }
  .bestsellers .container .flex {
    flex-direction: column;
  }
  .bestsellers .flex img {
    display: block;
    width: 100%;
  }
  .bestsellers .product span:first-child {
    font-size: 16px;
  }

  .bestsellers .product span {
    font-size: 13px;
  }
  /* .bestsellers .product span:first-child {
    margin-bottom: 30px;
  } */
  .year {
    background: none;
    margin-bottom: 30px;
  }
  .year .offer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
  }
  .year .offer h2 {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 600;
  }
  .year .offer p {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }
  .offer a {
    margin-top: 13px;
  }
  footer .flex {
    margin-bottom: 30px;
  }
  footer .left_footer {
    width: 80%;
  }
  footer .left_footer_up {
    width: 100%;
    display: flex;
    column-gap: 95px;
    flex-wrap: wrap;
  }
  footer .left_footer_up .item h4 {
    font-size: 13px;
  }
  footer .left_footer_up .item ul li {
    font-size: 11px;
  }
  footer .left_footer_up .item {
    margin-top: 29px;
  }
  footer .left_footer_up .item p {
    font-size: 13px;
  }
  footer .left_footer_up .item p:last-child {
    font-size: 13px;
  }
  footer .right_footer {
    width: 20%;
    text-align: end;
  }

  footer .right_footer img {
    width: 80%;
    margin-top: 29px;
  }
  footer .down_footer {
    padding-bottom: 25px;
    column-gap: 72px;
    align-items: center;
  }
  footer .down_footer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  footer .left_footer_down {
    display: flex;
    column-gap: 10px;
  }
  footer .left_footer_down i {
    transform: scale(0.8);
  }
}
