@media (min-width: 320px) and (max-width: 921px) {
  nav .nav {
    display: block;
    padding: 32px 0;
  }

  .container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  nav .nav .nav_items {
    margin-top: 15px;
    padding-left: 0px;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    background: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
  }
  nav .nav .nav_items ul {
    flex-direction: column;
    padding: 0px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav .nav .nav_items ul li {
    padding: 0;
  }
  nav .logo {
    width: 100%;
  }
  nav .nav label {
    position: absolute;
    top: 28px;
    right: 10px;
    display: block;
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  .nav input:checked + .nav_items {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .tools {
    padding: 7px 0;
  }
  .tools .search .item1 {
    padding: 0;
    width: 10%;
  }
  .tools .search .item1 img {
    padding: 16px 0;
    transform: scale(0.7);
  }

  .tools .search .item1 h6 {
    display: none;
  }
  .tools .search .item2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
  }
  .tools .search .item2 input {
    width: 100%;
    padding: 7px 10px;
    padding-right: 29px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    position: relative;
  }
  .tools .search .item2 .icon {
    position: absolute;
    top: 9px;
    right: 5px;
    transform: scale(0.8);
  }

  .tools .search .item3 {
    width: 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 0px;
    transform: scale(0.7);
    cursor: pointer;
    margin-left: 42px;
  }

  .tools .search .item3 i:last-child {
    margin-left: 16px;
  }
  .product_inside {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .product_inside .container .heading {
    margin-bottom: 20px;
  }
  .product_inside .container .heading h2 {
    font-size: 21px;
  }
  .product_inside .container .heading p {
    font-size: 11px;
  }
  .product_inside .container .login_text p {
    font-size: 11px;
    margin-bottom: 25px;
  }
  .product_inside .container .pay_bill {
    margin-top: 0px;
    width: 100%;
  }
  .product_inside .container .pay_bill h4 {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .product_inside .container .billing_info .add_name p {
    font-size: 13px;
  }
  .product_inside .container .billing_info .add_name input {
    font-size: 11px;
  }
  .product_inside .container .billing_info .add_name {
    margin-bottom: 15px;
  }
  .product_inside .container .billing_info .add_name select {
    font-size: 11px;
  }
  .additional {
    margin-bottom: 30px;
  }
  .additional h5 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .additional p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  textarea {
    font-size: 11px;
    height: auto;
    width: 94%;
    padding: 10px;
    border: 1px solid #f0f0f0;
  }
  .your_order h3 {
    font-size: 21px;
    margin-bottom: 25px;
  }
  .your_order .order_details {
    width: 100%;
  }
  .your_order .order_details p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .your_order .order_details .item_name {
    font-size: 11px;
  }
  .your_order .order_details .item_price {
    font-size: 11px;
  }
  .bank {
    padding-left: 9px;
    margin-top: 40px;
    width: 100%;
  }
  .bank_info .choose {
    font-size: 13px;
  }
  .bank_info .box .shape {
    width: 97%;
  }
  .bank_info:nth-child(1) .box .shape p {
    font-size: 11px;
  }
  .bank_info:nth-child(2) .box .shape p {
    font-size: 11px;
  }
  .product_inside a {
    margin-top: 11px;
    padding: 8px 10px;
    font-size: 11px;
    width: 30%;
  }
  footer {
    margin-top: 20px;
  }
  footer .flex {
    margin-bottom: 0px;
  }
  footer .left_footer {
    width: 80%;
  }
  footer .left_footer_up {
    width: 100%;
    display: flex;
    column-gap: 95px;
    flex-wrap: wrap;
  }
  footer .left_footer_up .item h4 {
    font-size: 11px;
  }
  footer .left_footer_up .item ul li {
    font-size: 11px;
  }
  footer .left_footer_up .item {
    margin-top: 29px;
  }
  footer .left_footer_up .item p {
    font-size: 11px;
  }
  footer .left_footer_up .item p:last-child {
    font-size: 11px;
  }
  footer .right_footer {
    width: 20%;
    text-align: end;
  }

  footer .right_footer img {
    width: 80%;
    margin-top: 29px;
  }
  footer .down_footer {
    padding-bottom: 25px;
    column-gap: 72px;
    align-items: center;
    margin-top: 35px;
  }
  footer .down_footer p {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  footer .left_footer_down {
    display: flex;
    column-gap: 10px;
  }
  footer .left_footer_down i {
    transform: scale(0.8);
  }
}
